* {
    box-sizing: border-box;
}

html {
    background-color: #f0ece2;
}

body {
    font-family: 'Ubuntu', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

h1 {
    font-size: 250%
}

h2 {
    font-size: 200%;
}

p {
    font-size: 150%;
}

body div {
    display: flex;
    flex-flow: column wrap;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

body h2,
body h1,
body p{
    margin-bottom: 10px;
    
}

#quiz-start {
    text-align: center;
}

#quiz-going {
    text-align: center;
}

#quiz-done {
}

#scoreboard {
}

button {
    margin: auto;
    font-size: 175%;

}

div button {
    width: 200px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: burlywood;
}

div button:hover {
    background-color: rgb(180, 144, 98);

}

.display-none {
    display: none;
}